<!DOCTYPE html>
<head>
	<title><%=car["make"]%> <%=car["model"]%></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1><%=car["make"]%> <%=car["model"]%></h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/all_mechanics">All Mechanics</a></li>
			<li><a href="/all_cars">All Cars</a></li>
			<li><a href="/add">Add New Cars and Mechanics</a></li>
			<li><a href="/search">Search</a></li>
		</ul>
	</nav>
	<p><%=car["make"]%> <%=car["model"]%> - <%=car["color"]</p>	
</body>