<html>
<head>
	<title><%=astronaut['name']%></title>
</head>
<body>

<h1><%=astronaut['name']%></h1>
<h3>Rank: <%=astronaut['rank']%></h3>
<h3>Shuttle: <a href='<%= "/shuttles/#{shuttle['id']}"%>'><%=shuttle['name']%></a></h3>


</body>
</html>