<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Abel|Orbitron|Titillium+Web' rel='stylesheet' type='text/css'>
	<title>Shuttle Information: <%= shuttle["name"] %></title>
</head>
<body>
	<h1> <%= shuttle["name"] %> </h1>
	<div class="navigation">
	<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/astronauts">All astronauts</a></li>
			<li><a href="/shuttles">All shuttles</a></li>
			<li><a href="/shuttles/new">Add a shuttle</a></li>
			<li><a href="/astronauts/new">Add an astronaut</a></li>
		</ul>
</div>
	<div class="wrapper">
		<h3>Country of Origin: <%= shuttle["country"] %> </h3>
		<h3>Destination: <%= shuttle["destination"] %> </h3>
		<h3>Astronaut(s):</h3>
		<ol><% astronauts.each do |astronaut| %>
		<li><%= "#{astronaut["name"]}" %></li>
		<% end %>
		</ol>
	</div>
</body>
</html>