<html>
<head>
	<title>Space Shuttles and Astronauts</title>
</head>
<body>
	<h1><%= shuttle["name"]%></h1>
	<ul>
		<li>Origin Place: <%= shuttle["origin_place"]%></li>
		<li>Destination: <%= shuttle["destination"]%></li>
		<% astronauts.each do |astronaut| %>
		<li>Astronauts: <a href="/astronauts/<%= astronaut['astronaut_id']%>"><%= astronaut["name"] %></a></li>
		<% end %>
	</ul>
	<a href="/">Go back</a>
</body>
</html>