<html>
<head>
	<title>Shuttle Information</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
		<h1>Space Center</h1>
	<div>
	<a href='/'>Home</a>
	<a href='/shuttles'>Add/View Shuttles</a>
	<a href='/astronauts'>Add/View Astronauts</a>
	</div>


	<h2><%= shuttle["name"] %> </h2>

	<h3>Country of Origin: <%= shuttle["origin_country"] %></h3>
	<h3>Destination: <%= shuttle["destination"] %></h3>
	<h3>Astronauts: </h3>
			<ul>
				<% astronauts.each do |astronaut| %>
				<li> <a href="/astronaut/<%= astronaut['id'] %>"><%= astronaut["first"] %> <%= astronaut["last"] %></a></li>
				<% end %>
			</ul>

</body>
</html>