<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shuttle</title>
</head>
<body>

  <h1> <%= shuttle["name"] %> </h1>
  <h3> Origin Country: <%=shuttle["origin_country"] %> </h3>
  <h3> Destination: <%=shuttle["destination"] %> </h3>

  <h3> Astronauts </h3>

  <ul>
      <% astronauts.each do |astronaut| %>
      <li><a href="/astronauts/<%=astronaut['id'] %>"><%= astronaut["name"] %> <%=astronaut["rank"] %></a></li>
      <% end %>

  </ul>

</body>
</html>

