<html>
<body>
  <a href="/">Homepage</a>
  <a href="/condition">Search Again</a>
<ol>
<% results.each do|x| %>
  <%if x["condition"].include?condition %>
 
  <li>
  <%= x["name"] %> <%= x["last"] %> was admitted on  <%=x["date"]%>  and has <%= x["condition"]%> and is being seen by <%=x["doctorname"]%> </li>
 
  <%end%>
<%end%>

</ol>


</body>
</html>