<html>
<head>
	<title><%=bill.short_title%></title>
</head>
<body>

	<h1><%=bill.short_title%><h1>
		<h3>Introduced: <%=bill.introduced%> by <a href="/senators/<%=senator.bioguide_id%>"><%="#{senator.first} #{senator.last}"%></a></h3>


</body>
</html>