!!!
%html{:lang => "en"}
	%head 
		%meta{:charset => "utf-8"}
		%title= "Random Rosencrantzers | #{user["first_name"]} #{user["last_name"]}"  
	%body 
		%header 
			%h1 Random Rosencrantzers

		%section 
			%h2= "#{user["title"].capitalize} #{user["first_name"].capitalize} #{user["last_name"].capitalize}"
			%h3= user["gender"]

			%img{:src => user["hipchat_avatar"], :height => "100px", :width => "100px"}