<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baby Names</title>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
  <h1>Baby Names: <%= year %></h1>
  <p><a href="/">Home</a></p>
<table class="table table-hover">
  <tr>
  	<th>Name</th>
    <th>County</th>
    <th>Gender</th>
    <th>Count</th>
  </tr>
<% baby_names["data"].each do |name| %>
   	<% if year == name[8] %>
  	
  	<tr><td> <%= name[9] %> </td>
  	<td> <%= name[10] %> </td>
  	<td> <%= name[11] %> </td>
  	<td> <%= name[12] %> </td></tr>
  	<% end %> 	
   <% end %>
</table>


</div>
</body>
</html>