
<% content_for :title, @artist.name %>

<h1><%=@artist.name%></h1>
<h3>Genre:<%=@artist.genre%></h3>
<h3>No. of Albums: <%=@artist.number_of_albums%></h3>
<h5>Songs</h5>
<%= render "shared/songs" %>
<h5>Add Song</h5>
<%= form_for [@artist, @song] do |f| %>
<%= f.text_field :name, :placeholder => "Name" %>
<%= f.submit "Add Song" %>
<% end %>
<h5>Delete Artist</h5>
<%= form_for @artist,  :method => :delete do |f|%>
<%=f.submit 'Delete Artist'%>
<%end%>

<%= form_for @artist, url: {action: "update"} do |f|%>
<%= f.text_field :name, :value => @artist.name %>
<%= f.text_field :genre, :value => @artist.genre %>
<%= f.text_field :albums, :value => @artist.number_of_albums %>
<%=f.submit%>
<%end%>

