<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Encyclopedia Galactica | <%= character.name %></title>
	<link type="text/css" rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<h1>The Encylopedia Galactica</h1>
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href="/characters">Characters</a></li>
				<li><a href="/ships">Ships</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h2><%= character.name %></h2>
		<img src=<%= character.img_url %>>
		<p><%= character.description %></p>
		<p><%= character.name %> is currently on the <a href=<%= "/ships/" character.ship_id %>><%= ship_name %></a></p>
	</section>
</body>
</html>