<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search: Car</title>
</head>
<body>
	<h2> <%= ["make"] %> <%= ["model"] %></h2>
	<ul>
		<li>Make: <%= ["make"] %></li>
		<li>Model: <%= ["model"] %></li>
		<li>Color: <%= ["color"] %></li>
	</ul>

	<form action="/" method="GET">
		<input type="hidden">
		<button>Home</button>
	</form>
</body>
</html>