<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Search: Car</title>
</head>
<body>
	<h1>Results for "<%= data %>"</h1>
	<h2><%= car["make"] %> <%= car["model"] %></h2>
	<ul>
		<li>Make: <%= car["make"] %></li>
		<li>Model: <%= car["model"] %></li>
		<li>Color: <%= car["color"] %></li>
	</ul>
	<form action="/" method="GET">
		<input type="hidden">
		<button>Home</button>
	</form>
</body>
</html>