<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search: Car</title>
</head>
<body>
	<h2> <%= car["make"] %> <%= car["model"] %></h2>
	<ul>
	<% car.each do |x| %>
		<li>Make: <%= x["make"] %></li>
		<li>Model: <%= x["model"] %></li>
		<li>Color: <%= x["color"] %></li>
	</ul>
	<%end %>

	<form action="/" method="GET">
		<input type="hidden">
		<button>Home</button>
	</form>
</body>
</html>