<html>
<head>
	<title>Shuttle</title>
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,500,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
	<h1> <%= shuttle["name"] %> </h1>
		<h2> From: <%= shuttle["country"] %> </h2>
		<h2> Destination: <%= shuttle["destination"] %> </h2>
		<h3>The following astronauts are on board:</h3>
		<ul>
			<% astros.each do |astro| %>
				<li><a href="/astros/<%= astro["a_id"] %>"><%= astro["name"] %></a> <br>
					rank: <%= astro["rank"] %></li>
			<% end %>
		</ul>

	<p><a href="/">Go home</a></p>
	<p><a href="/astros">See all the astronauts</a></p>
	<p><a href="/shuttles">See all the shuttles</a></p>
	<p><a href="/shuttles/new">Add a Shuttle</a></p>



</body>
</html>