<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
  <meta charset="UTF-8">
  <title>Baby Names <%=year%></title>
</head>

<body>
  <%if information.length == 0%>
  <h1>TRY AGAIN! NO DATA FOR THAT YEAR</h1>
  <%else%>
  <div class="container">
    <table class="table table-bordered table-hover">
   <caption><h1>BABY NAMES OF <%=year%></h1></caption>
   <thead>
      <tr>
         <th>Name</th>
         <th>County</th>
         <th>Gender</th>
         <th>Count</th>
      </tr>
   </thead>
  <tbody>
  <%information.each do |info|%>
  <tr>
    <td><%=info[9]%></td>
    <td><%=info[10]%></td>
    <td><%=info[11]%></td>
    <td><%=info[12]%></td>
  </tr>
<%end%>
<%end%>
</tbody>
</div>
</body>
</html>