<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1><%= artist.name %></h1>
	<h3>Genre: <%= artist.genre %></h3>
	<h4>Number of Albums: <%= artist.number_of_albums %></h4>
		<img src="<%= artist.photo_url %>" height="300px">

	<h3>Make a Change to this Artist</h3>
		<form action="/artists/<%= artist.id %>" method="POST">
			<input name="_method" value="PUT" type="hidden" />
			
		<label>
			Artist Name:
			<input name="name" value="<%= artist.name %>"/>
		</label>
		<label>
			Genre:
			<input name="genre"  value="<%= artist.genre %>"/>
		</label>
		<label>
			Number of Albums:
			<input name="number_of_albums"  value="<%= artist.number_of_albums %>"/>
		</label>
		<label>
			Photo:
			<input name="photo_url"  value="<%= artist.photo_url %>"/>
		</label>

		  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Submit</button>

		</form>




	<h3>Delete this Artist</h3>


</body>
</html>
