<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Images for <%=keyword%></title>

</head>
<a href="/posts/<%=id%>">Back to Profile </a>
<body>
  Images for <%=keyword%>
  <img src="<%=image1%>"/>
  <img src="<%=image2%>"/>
  <img src="<%=image3%>"/>


</body>
</html>