span eye symbol ADMIN ONLY !

Add Products:
form
tshirt.name
tshirt.image
tshirt.quantity
tshirt.price

button
add

add button 

add adds tshirt to inventory
also adds tshirt to a list on the index

inventory
tshirt.image 

button
delete

...
...

orders
tshirt.image
user.email
user.quantity

<html>
<head>
	<title>Tshirt.ly</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1> Admin Page </h1>

<form action="/" method="POST">
	<input type="text" name="name" placeholder="Enter Name"/>
	<input type="text" name="image" placeholder="img url"/>
	<input type="text" name="quantity" placeholder="quantity"/>
	<input type="text" name="price" placeholder="price" />
	<button>Add</button>
</form>

<ul> 
	<% users.each do |user| %>
	
		<li>
			<% binding.pry %>
			<a href="tshirt/<%= user.tshirt_id %>">
				<img src="<%= Tshirt.find_by(id: user.tshirt_id)["image"] %>" >
			</a>

			<p>Price: <%= Tshirt.find_by(id: user.tshirt_id)["price"] %></p>
			<p>Quantity: <%= user.quantity %></p>
			<p>Email: <%= user.email %></p>
		</li>

	<form action="/ship/<% Tshirt.find_by(id: user.tshirt_id)["id"] %>" method="POST">
	    <input type="hidden" name="ship">
	    <button>SHIP</button>
	</form>

	<form action="/user/<%= user.id %>/remove" method="POST">
	    <input type="hidden" name="_method" value="DELETE">
	    <button>REMOVE</button>
	</form>

	<% end %>

</ul>
</body>
</html> 