<div id="<%= shirt.id %>">
	<div>Name: <%= shirt.name %></div>
	<div><a href="<%= shirt.img_src %>">See it</a></div>
	<div>Quantity: <input type="text" placeholder="<%= shirt.quantity %>"><button>Change</button></div>
	<div>Price: <%= shirt.price %></div>
</div>
