<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title> <%= @app_name %> | <%= @view_name %> </title>
	</head>
	<body>
		<section>
		<%= @header_partial %> 
		<ul>
			<% @imgs.each do |img| %>
			<% src, usrname = img %> 
			<li>
				<img src=<%=src%> >
				<p><%= usrname %></p>
			</li>
			<% end %>  
		</ul>
		<form action=/cloud method=POST>
			<input type=hidden name=t value=<%= @t %>></input>
			<button>
				SAVE THEE THIS <span class=fancy>Hash</span> OF <span class=fancy>Hearts</span>
			</button>
		</form>
		</section>
	</body> 
</html> 