<h1>Listing puppies</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Cuteness</th>
  </tr>
 
  <% @puppies.each do |puppy| %>
    <tr>
      <td><a href="/puppies/<%= puppy.id %>"><%= puppy.name %></a></td>
      <td><%= puppy.breed %></td>
      <td><center><%= puppy.cuteness %></center></td>
      <td><a href="/puppies/edit/<%= puppy.id %>">Edit</a></td>
      <td><form action="/puppies/delete/<%= puppy.id %>" method="DELETE">
      	<button>KILL THIS PUPPY</button>
      </form></td>
    </tr>
  <% end %>
</table>

