<h1>Listing puppies</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Cuteness</th>
  </tr>
 
  <% @puppies.each do |puppy| %>
    <tr>
      <td><a href="/puppies/<%= puppy.id %>"><%= puppy.name %></a></td>
      <td><%= puppy.breed %></td>
      <td><center><%= puppy.cuteness %></center></td>
			<td><%= link_to 'Show', puppy_path(puppy) %></td>
    	<td><%= link_to 'Edit', edit_puppy_path(puppy) %></td>
    	<td><%= link_to "Delete", puppy_path(puppy), method: :delete %></td>
    	</td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Puppy', new_puppy_path %>