<!DOCTYPE html>
<head>
	<title><%=post[:keyword]%></title>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1><a href="/">Wdumblr</a></h1>
	<h4>Tublr fur wreally dumb pipol!</h4>
	<nav>
		<ul>
			<li><a href="/authors">Othurz</a></li>
			<li><a href="/posts">Postz</a></li>
			
		</ul>
	</nav>
	<h2>Post</h2>
	<a href="/posts/<%=post[:id]%>/images">Ad Pichurz</a>
	<p><%=post[:content]%><br>Postud at: <%=post[:created_at]%><br>Tag: <%=post[:keyword]%></p>
	<% images.each do |image| %>
	<img src="<%=image[:url]%>" />
	<% end %>
</body>