<h1>Artist List</h1>
<ul>
  <% artists.each do |artist| %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %> <%= artist.genre %> <%= artist.number_of_albums %>
      </a>
    </li>
  <% end %>
</ul>

<h3>Add an artist below</h3>

<form action="/artists" method="POST">
  <label>
    Name:
    <input name="name" />
  </label>

  <label>
    Genre:
    <input name="genre" />
  </label>

  <label>
    Number of Albums:
    <input name="number_of_albums" />
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Create an Artist</button>
</form>